# Default
.Rproj.user
.Rhistory
.RData
.Ruserdata

#
.DS_Store
*.Rproj

# Brooke Fridley Rmd
Prelim_R01.Rmd

# Output data
*.log
*.png
*.html
*.jpg
*.csv

# Rmd and pptx
*.pptx
*.Rmd

# Example code in progress
*-Ex.R
*-Ex.Rmd

# Drake
.drake/